*{
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

body{
    background-color: hsl(0, 15%, 70%);
}

/*comando para tamanho da fonte se adaptar ao do navegador*/
.content{
    padding: 1rem;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        margin: 0 auto;
        height: auto;
        border-radius: 1rem;
    }
}

.content h1{
    margin: 0;
}

