.pokemons{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*Aqui o comando display para que a lista seja exposta gradeada(grid), determinando que será exibida de 1 em 1 fração*/
    display: grid;
    grid-template-columns:1fr;
}

/*para alterar cada um dos elementos da lista especificamente*/
.pokemon {
    margin: .5rem;
    padding: 1rem;
    background-color: #14a06f;
    color: white;
    /*ajuste da curvatura das bordas utilizando proporção do proprio html atraves do rem*/
    border-radius: 1rem;
    /*com display:flex definimos que sera exibido lado a lado, mas alteramos essa configuração atraves do flex-direction*/
    display: flex;
    flex-direction: column;
}

.pokemon .name{
    color: white;
    margin-bottom: 0;
}

.pokemon .number{
    text-align: right;
    color: black;
    opacity: .5;
    font-size: .750rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    /*alinhando itens ao centro, com o justify-content orientamos a espaçar entre os itens*/
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    background-color: #61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.pokemon .detail img{
    max-width: 100%;
    height: 110px;
    /*alinha itens na direita*/
    align-self: flex-end;
}

/*Para a reatividade, fazemos sobreposições baseadas no tamanho da tela que estiver utilizando o site.*/
@media screen and (min-width: 420px) {
    .pokemons{
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns:1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}